<div class="container p-4">
    <div class="m-3">
        <label for="">Nombre:</label>
        <br>
        <label for="">{{ user.nombre }}</label>
    </div>
    <div class="m-3">
        <label for="">Ultima hora de ingreso:</label>
        <br>
        <label for="">{{ fecha }}</label>
    </div>
    <div class="m-3">
        <label for="">Cambiar contraseña</label>
        <br>
        <button type="button" class="btn btn-info" [routerLink]="['/editUser', user.correo]" >Cambiar</button>
    </div>
</div>
<div class="botonAbajo">
    <button type="button" class="btn btn-danger" (click)="cerrar()">Cerrar Sesion</button>
</div>
