.container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    background: white;
    border-radius: 10px;
}

.botonAbajo button{
    position: absolute;
    top: 60%;
    transform: translate(30%, 80%);
}