<div class="container">
    <h3>Lista de usuarios</h3>
    <div class="containerTable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios; let i = index" >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.correo }}</td>
                <td><i class="fas fa-trash-alt m-2" (click)="eliminarUsuario( usuario.id )" ></i><i class="fas fa-edit" [routerLink]="['/editUser', usuario.correo]"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="botonAbajo">
  <button type="button" class="btn btn-danger" (click)="cerrar()">Cerrar Sesion</button>
</div>
