<div class="center">
    <h1>Registro</h1>
    <form method="post"> 
        <div class="txt_field" >
            <input type="text" required>
            <span></span>
            <label for="">Nombre</label>
        </div>
        <div class="txt_field" >
            <input type="text" required>
            <span></span>
            <label for="">Correo</label>
        </div>
        <div class="txt_field" >
            <input type="password" required>
            <span></span>
            <label for="">Contraseña</label>
        </div>
        <div class="txt_field" >
            <input type="password" required>
            <span></span>
            <label for="">Confirmar contraseña</label>
        </div>
        <input type="submit" value="Registrarse">
        <div class="signup_link">
            ¿Tienes cuenta? Inicia <a routerLink="/login">aqui</a>
        </div>
    </form>
</div>